<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Nick Feller</h1>
		<p>Welcome to my Webpage & Blog.</p>
		<p>I am an Entrepreneur - TEDx Curator - Software Engineer - Researcher - Burner - Yogi</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/NickyFellz">@NickyFellz</a>
		or on the web at <a href="https://www.facebook.com/nicky.feller">facebook/nicky.feller</a>, and get my posts and exclusive content in your inbox 
		by signing up for my newsletter <a href="http://eepurl.com/02olT">here</a>.</p>
	</div>
</div>